html {
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #000428, #004e92);
}

body {
  color: #f5f5dc;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.profile-pic {
  max-height: 400px;
  width: auto;
}

.color-change-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  /* Initial color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  user-select: none;
  /* Prevent text selection */
}

/* The button's pressed state when the checkbox is checked */
#color-toggle:checked+.color-change-button {
  background-color: green;
  /* New color when pressed */
}

/* Optional: Change color on hover */
.color-change-button:hover {
  background-color: yellow;
  /* Hover color */
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #444;
  color: #f5f5dc;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.download-btn:hover {
  background-color: #555;
}





.intro, .intro::before, .intro::after {
  box-sizing: border-box;
}

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  z-index: -3;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
  background:inherit;
}

.intro::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;

    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(transparent, rgba(168, 239, 255, 1), transparent 30%);
    animation: rotate 4s linear infinite;
  }

.intro::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
  background: linear-gradient(135deg, #000428, #004e92);
    border-radius: 5px;
  }




